html,
body {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --headerAndFooterBg-Color: rgba(8, 145, 178, 255);
  --sides-padding: 120px;
  --topBottom: 80px;
  --whiteColor: rgba(255, 255, 255, 255);
}

header {
  position: relative;
  min-height: 109vh;
  padding: var(--topBottom) var(--sides-padding);

  display: flex;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

header .imgContainer,
.aboutMeBox {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  z-index: 1;

  background-color: var(--whiteColor);
}

header .textBehindImg {
  position: absolute;

  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--whiteColor);
  white-space: nowrap;

  font-size: clamp(20px, 4vw, 85px);
}

header .icons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

header .imgContainer {
  position: relative;
  flex: 4;
  z-index: 2;

  box-shadow: 5px 5px 24px -12px black;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: clamp(40px, 4vw, 65px);
}
h2 {
  font-size: clamp(25px, 3vw, 31px);
}

p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: rgba(86, 86, 86, 255);
}

.aboutMeBox p,
.contactInfo p {
  font-size: clamp(20px, 2vw, 30px);
}

.projectArea p {
  font-size: clamp(18px, 2vw, 20px);
}

header .aboutMeBox {
  flex: 6;
  margin-top: 80px;
  margin-bottom: 80px;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 80px;
  padding-bottom: 40px;

  box-shadow: 5px 5px 19px -10px black;

  display: flex;
  flex-direction: column;
}

.aboutMeBox p {
  line-height: 1.5em;
  flex: 1;
}

.aboutMeBox h1 {
  margin-bottom: 40px;
}

.aboutMeBox svg {
  width: 50px;
}
.projectArea svg {
  height: 35px;
}

header .slant-container {
  position: absolute;
  top: 0px;
  right: 0px;

  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 100%;
}

header .background-slant {
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: var(--headerAndFooterBg-Color);
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);
}

main {
  padding: 80px var(--sides-padding) 160px var(--sides-padding);
}

main > h1 {
  margin-bottom: 15px;
}

main .projectArea {
  display: grid;
  column-gap: 65px;
  row-gap: 75px;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

main .projectBox {
  aspect-ratio: 5/6;

  box-shadow: 2px 3px 10px 1px #a5a5a5;

  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: stretch;
}

.projectScreenShot {
  position: relative;
  background-color: var(--headerAndFooterBg-Color);
  flex: 3;

  text-align: center;
}

.projectScreenShot .textBehindImg {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--whiteColor);
}

.projectInfo {
  flex: 2;
  padding: 20px 40px;
}

.projectInfo .titleAndLinks {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
}

.titleAndLinks h2 {
  flex: 1;
}

footer {
  background-color: var(--headerAndFooterBg-Color);
  height: 101vh;
  padding: var(--topBottom) var(--sides-padding);

  display: grid;
  gap: 60px;
  grid-template-columns: 4fr 7fr;
}

footer .contactInfo * {
  color: var(--whiteColor);
}

.contactInfo h1 {
  margin-bottom: 25px;
}

.contactInfo .spacedP {
  margin-bottom: 50px;
}

.contactInfo .info {
  display: flex;
  align-items: center;
}

.info:nth-child(odd) {
  margin-bottom: 20px;
}
.info:nth-child(even) {
  margin-bottom: 40px;
}

.contactInfo div > svg {
  height: 46px;
  color: var(--whiteColor);
  margin-right: 20px;
}

footer .footerIcons {
  display: flex;
  gap: 40px;
}

footer .footerIcons svg {
  width: 70px;
}

footer .footerPicBox img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

@media (min-width: 500px) and (max-width: 1000px) {
  header {
    display: block;
    --tabletMargin: 100px;
    padding-left: var(--tabletMargin);
    padding-right: var(--tabletMargin);
    padding-top: 40px;

    padding-bottom: 0px;
  }

  header > * {
    position: relative;
  }

  header .slant-container {
    max-height: 100vh;
  }

  header .imgContainer {
    width: calc(50% + 60px);
    float: left;
    shape-outside: margin-box;
    margin-right: 20px;
    margin-left: -60px;
  }

  .imgContainer .textBehindImg {
    top: 10%;
    left: 141%;
    color: black;
    font-size: clamp(20px, 7vw, 105px);
  }

  header .aboutMeBox {
    margin-top: 120px;
    width: 100%;
    display: block;
    padding-right: 20px;
  }

  header .aboutMeBox h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: clamp(40px, 4vw + 5px, 45px);
  }

  header .icons {
    display: none;
  }

  main {
    --sides: 80px;
    padding: 0px var(--sides) 285px var(--sides);
  }

  main .projectInfo {
    padding: 10px 25px;
  }

  h2 {
    font-size: clamp(16px, 3vw, 20px);
  }

  .projectArea svg {
    height: 25px;
  }

  main .projectInfo .titleAndLinks {
    margin-bottom: 10px;
  }

  .projectInfo p {
    font-size: clamp(16px, 1vw, 22px);
  }

  main .projectArea {
    column-gap: 40px;
    row-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }


  footer{
    gap:40px;
    height: 89vh;
    padding: 50px 45px 75px 65px;
  }

  footer .contactInfo{
    padding-top: 45px;
  }

  .contactInfo div > svg {
    height: 32px;
    margin-right: 10px;
  }

  footer .footerIcons svg {
    width: 45px;
  }

  .contactInfo .spacedP{
    margin-bottom: 30px;
  }

  .info:nth-child(odd){
    margin-bottom: 10px;
  }
  .info:nth-child(even){
    margin-bottom: 30px;
  }

  footer .footerIcons {
    display: flex;
    gap: 25px;
  }

}

@media (max-width: 500px){
  *{
    --headerAndFooterBg-Color: green;
  }

  header{
    flex-direction: column;
    padding: 0;
  }

  header .imgContainer{
    margin: 24px 30px;
  }

  header .slant-container {
    height: 27%;
  }

  header .aboutMeBox{
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}
