html,
body{
    width: 100%;
    height: 100%;

    overflow-x: hidden;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --headerAndFooterBg-Color: black;
    --sides-padding: 120px;
}

header{
    position: relative;
    height: 90vh;
    padding: 80px var(--sides-padding);

    display: flex;

    width: 100vw;
}

header img{
    object-fit: cover;
    z-index: 1;
}

header div {
   flex: 1;

   margin-top: 40px;
   margin-bottom: 40px ;

   color: aliceblue;
   background-color: aqua;

   z-index: 1;
}

header .background-slant{

    z-index: 0;

    width: 100%;
    height: 100%;

    background-color: var(--headerAndFooterBg-Color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);

    position: absolute;
    top: -40px;
    right: 0px;


}

main{
    padding: 80px var(--sides-padding) 80px var(--sides-padding);
}

main .projectArea{
    display: grid;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}

main .projectBox{
    min-height: 40px;
    border: 1px solid black;
}

footer{
    padding: 40px var(--sides-padding);
    padding-bottom: 20px;

    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr;
    
}

footer div{
    border: 1px solid black;
    height: 60vh;
}

footer div:first-child{
    width: 320px;
}