html,
body {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --headerAndFooterBg-Color: rgba(8,145,178,255);
  --sides-padding: 120px;
  --topBottom: 80px;
  --whiteColor: rgba(255,255,255,255);
}

header {
  position: relative;
  height: 109vh;
  padding: var(--topBottom) var(--sides-padding);

  display: flex;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

header .imgContainer, .aboutMeBox  {
  margin-top: 40px;
  margin-bottom: 40px;
  color: aliceblue;
  z-index: 1;
}

header .imgContainer {
  flex: 4;
}

header .aboutMeBox {
  flex: 6;
  margin-top: 80px;
  margin-bottom: 80px;
}

header .background-slant {
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: var(--headerAndFooterBg-Color);
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);

  position: absolute;
  top: 0px;
  right: 0px;
}

main {
  padding: 80px var(--sides-padding) 80px var(--sides-padding);
}

main .projectArea {
  display: grid;
  column-gap: 65px;
  row-gap: 75px;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}

main .projectBox {
  aspect-ratio: 5/6;

  box-shadow: 2px 3px 10px 1px #a5a5a5;

  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: stretch;
  
}

.projectScreenShot{
  background-color: var(--headerAndFooterBg-Color);
  flex: 3;
}

.projectInfo{
  flex: 2;
}


footer {
  min-height: 101vh;
  border-top: 1px solid black;
  padding: var(--topBottom) var(--sides-padding);

  display: grid;
  gap: 30px;
  grid-template-columns: auto 1fr;
}

footer div {
  border: 1px solid black;
}

footer div:first-child {
  width: 320px;
}
